.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 35px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 370px;
  text-align: center;
  background-color: white;
}

.success-msg {
  color: green;
  margin: 0;
}